{margin:3% 16px;
padding:0 24px;
font-size: 10px;
}
.cabecalho {background-color: antiquewhite(0, 0, 0); color: aliceblue (255, 255, 255);
display: flex;
justify-content: space-around; padding: 2% 24px;}
