{margin:3% 50px;
padding:0 50px;
font-size: 50px;
}
.cabecalho {background-color: antiquewhite(0, 0, 0); color: aliceblue (255, 255, 255);
display: flex;
justify-content: space-around; padding: 2% 50px;}
.cabecalho-imagem{width: 5%;}
.cabecalho-lista-item{display: inline-block;margin: 0% 50px;
}

